
/* Sidebar */
.navi {
  width: 200px;
  background-color: #000000;
  padding: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.navi img {
  height: 10vh;
  width: 10vh;
  margin-bottom: 20px; 
}

li {
  font-size: 17px;
  padding-left: 20px;
}

/* Search */
.search {
  width: 90%;
}

/* Main */
.main {
  background-color: #D9D9D9;
  width: 90%;
  height: 80%;
}

/* Tabs */
.custom-hr {
  background-color: white;
  width: 3px;
  height: 100%;
  border: none;
  margin: 0;
}

.tabs {
  height: 8vh;
}

.song-list-container {
  margin-top: 0.5rem;
  padding: 0 1rem;
}

.song-list-title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  color: black;
}

.song-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  overflow-y: auto;
}

.max-height {
  max-height: 500px;
}

.song-item {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 0.75rem;
  margin-bottom: 10px;
}

.song-info {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.75rem;
}

.song-icon {
  width: 2rem;
  height: 2rem;
  background-color: black;
  border-radius: 50%;
}

.song-details {
  flex: 1;
}

.song-title {
  font-size: 18px;
  font-weight: 500;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-artist {
  font-size: 15px;
  color: gray;
}

.song-duration {
  font-size: 17px;
  color: gray;
  margin-left: 0.75rem;
  position: relative;
  top: 1.5rem;
  right: 1.5rem;
}


.song-list::-webkit-scrollbar {
  width: 10px; 
}

.song-list::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px; 
}

.song-list::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; 
}

.song-list::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.song-item {
  display: flex;
  justify-content: space-between;
  background-color: white; 
  border-radius: 4px; 
  padding: 0.75rem; 
  transition: background-color 0.2s; 
}

.song-item:hover {
  background-color: #e0e0e0; 
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .navi {
    width: 250px;
    padding: 50px 20px;
  }

  .main {
    width: 95%;
    height: 80%;
    margin-top: 30px;
  }

  .search {
    width: 95%;
  }

  .tabs {
    height: 8vh;
  }
}

@media (max-width: 968px) {
  .song-list-title {
    font-size: 1em;
  }

  .song-item {
    padding: 0.5rem;
  }

  .song-title {
    font-size: 0.8rem;
  }

  .song-artist {
    font-size: 0.6rem;
  }

  .song-duration {
    font-size: 0.6rem;
  }
}
/* mobile */
@media (max-width: 468px) {
  .navi {
    width: 70px;
    padding: 40px 10px;
  }
  
  .navi img {
    height: 7vh;
    width: 7vh;
  }

  ul li {
    margin-left: -2vh;
    margin-top: 20px;
  }

  ul li a {
    font-size: 0.8rem;
  }

  .main {
    width: 86%;
    height: 85%;
    
  }

  .search {
    width: 86%;
  }

  .tabs {
    padding-bottom: 1px;
    height: 7vh;
  }

  .buts {
    font-size: 16px;
  }

  .song-list-title {
    font-size: 0.8em;
  }

  .song-item {
    padding: 0.5rem;
    margin-bottom: 1px;
  }

  .song-title {
    font-size: 0.7rem;
  }

  .song-artist {
    font-size: 0.5rem;
  }

  .song-duration {
    font-size: 0.5rem;
  }
  .max-height {
    max-height: 350px;
  }
  .song-list::-webkit-scrollbar {
    width: 1px; 
  }

  .song-list {
    scrollbar-width: thin; 
    scrollbar-color: #888 #f1f1f1; 
  }
  
}

/* Larger Screens (Desktops & Monitors) */
@media (min-width: 1200px) {
  .navi {
    width: 300px;
    padding: 6vh 30px;
  }

  .navi img {
    height: 10vh;
    width: 10vh;
  }

  li {
    font-size: 2.5rem;
    padding-left: 30px;
  }

  .main {
    width: 95%;
    height: 80%;
    margin-top: 50px;
  }

  .search {
    width: 95%;
    font-size: 20px;
  }
}
