/* Sidebar */
.navi {
  width: 200px;
  background-color: #000000;
  padding: 4vh;
}

li {
  font-size: 17px;
  padding-left: 20px;
}

.navi img {
  height: 10vh;
  width: 10vh;
  position: relative;
  left: 20px;
}
/* Search */
.search {
  width: 90%;
}
/* Main */
.main {
  background-color: #D9D9D9;
  width: 90%;
  height: 80%;
 
}
/* Medium Screens (Tablets) */
@media (max-width: 968px) {
  .navi {
      width: 250px;
      padding: 50px 20px;
  }

  .navi img {
      height: 10vh;
      width: 10vh;
      left: 5px;
  }

  ul li {
      font-size: 1.5em;
  }
}

/* Small Screens (Mobile) */
@media (max-width: 480px) {
  .navi {
      width: 70px;
      padding: 40px 20px;
  }

  .navi img {
      height: 7vh;
      width: 7vh;
      position: fixed;
      margin-left: 3px;
  }

  ul li {
      margin-left: -4vh;
      margin-top: 20px;
  }

  ul li a {
      font-size: 0.8rem;
  }
  .main {
    width: 86%;
    height: 80%;
   
  }
  .search {
    width: 86%;
  } 
}

