/* Sidebar */
.navi {
  width: 200px;
  background-color: #000000;
  padding: 4vh;
}

li {
  font-size: 20px;
  padding-left: 20px;
}

.navi img {
  height: 10vh;
  width: 10vh;
  position: relative;
  left: 20px;
}
/* Search */

/* Medium Screens (Tablets) */
@media (max-width: 968px) {
  .navi {
      width: 250px;
      padding: 50px 20px;
  }

  .navi img {
      height: 10vh;
      width: 10vh;
      left: 5px;
  }

  ul li {
      font-size: 1.5em;
  }
}

/* Small Screens (Mobile) */
@media (max-width: 480px) {
  .navi {
      width: 110px;
      padding: 40px 20px;
  }

  .navi img {
      height: 7vh;
      width: 7vh;
      left: 1px;
  }

  ul li {
      margin-left: -2vh;
      
  }

  ul li a {
      font-size: 0.8rem;
  }
}

